<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Earthquake Visualization">
    <meta name="author" content="Mr-Yellow">

    <!-- Le styles -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
    <link href="{{ site.baseurl }}/css/mapvis.css" rel="stylesheet">

  </head>
  <body>

	<div class="row-fluid">

	

		<div id="sidebar" class="span4">
		  	<div class="introduction">
		  		<h1 class="heading">{{ page.title }}</h1>
		  		<p class="intro"><strong>This page allows to visualize the most important seismic events in Chile since 1900. The
		  			measurement process has improved over time, augmenting the quantity and quality
		  			of earthquake records. The radius and the color of the circles are function of the
		  			earthquake magnitude.</strong></p>

		  		<form class="inline-form">
		  			<button id="btnPlay" class="btn btn-info" type="button">Play</button>
		  		</form>
		  	</div>

			<div class="panel">
				<ul id="earthquake_list">
					<li>earthquake list</li>	
				</ul>

				<form class="inline-form">
				<button id="btnPlay" class="btn btn-info" type="button">Play</button>
				</form>
			</div>
		</div>

		<!-- Map -->
		<div id="map" class="span8"></div>
		<div id="d3l"></div>

	</div>

    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
	{{ content }}
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap-tab.js"></script>
</body>
