<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Earthquake Visualization">
    <meta name="author" content="Mr-Yellow">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
    <link href="css/mapvis.css" rel="stylesheet">

  </head>
  <body>


<div class="container-fluid">
    <div class="row">
  		<div id="sidebar" class="col-md-4">

        <div class="introduction">
          <h1 class="heading">Earthquakes in Asia Pacific since 2009</h1>
          <p class="intro"><strong>This page allows to visualize seismic events greater than magnitude 3 in the Asia Pacific since 2009. 
          The radius and the color of the circles are function of the earthquake magnitude.</strong></p>

          <form class="inline-form">
          <button id="btnPlay" class="btn btn-info" type="button">Play</button>
          </form>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#list" role="tab" data-toggle="tab">List</a></li>
          <li><a href="#sources" role="tab" data-toggle="tab">Sources</a></li>
          <li><a href="#license" role="tab" data-toggle="tab">License</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="list">
            <div class="panel" id="earthquake_container">
              <ul class="list-group" id="earthquake_list"></ul>
            </div>
          </div>
          <div class="tab-pane" id="sources">

          	Forked from: <a href="https://github.com/pnavarrc/earthquake">https://github.com/pnavarrc/earthquake</a><br/>
			<br/>
            <a href="http://earthquake.usgs.gov/earthquakes/search/" target="_blank">USGS Search</a><br/>
            Query:<br/>
            Start: 2009-01-01 00:00:00<br/>
            End: 2014-10-12 23:59:59<br/>
            Magnitude: min 3<br/>
            Event type: Earthquakes<br/>
            Format: GeoJSON<br/>
            Order by: Time (Oldest first)<br/>
            Extents:<br/>
            North: 0.00<br/>
            South: -45.00<br/>
            East: 110.00<br/>
            West: 175.00<br/>
            <br/>
            <a href="http://comcat.cr.usgs.gov/fdsnws/event/1/query?starttime=2009-10-01%2000:00:00&maxlatitude=0&minlatitude=-45&maxlongitude=175&minlongitude=110&minmagnitude=3&eventtype=earthquake&format=geojson&endtime=2014-10-08%2023:59:59&orderby=time-asc" target="_blank">USGS GeoJSON Data</a>
          </div>

          <div class="tab-pane" id="license">
<pre>
The MIT License (MIT)

Copyright (c) [year] [fullname]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
</pre>
        </div>

      </div>
		</div>

		<!-- Map -->
		<div id="map" class="col-md-8"></div>
  </div>

  <div class="row">
	  <div id="d3l" class="col-md-12"></div>
  </div>

</div>


	<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
	{{ content }}
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
